
body, html {
    height: 100%;
    margin: 0;
    background-color: rgb(76, 175, 80);
}

.card-holder{
    transform-style: preserve-3d;
    backface-visibility: hidden;
    position:relative;
    width:100px;
    height:140px;
    display:inline-block;
    box-shadow:1px 2px 2px rgba(0,0,0,.8);
    margin:2px;
  }
  .card-holder:hover {
    box-shadow:0px 3px 6px rgba(0,0,0,.7);
  }
  .card-holder:active{
    transform:scale(.9);
  }

  .back{
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    width:100%;
      height:100%;
    backface-visibility: hidden;
    transform: rotateY( 180deg );
      background: #36c;
  background: 
  linear-gradient(135deg, #f26c32 0%,#c146a1 50%,#a80077 51%,#f9703e 100%);
      border-radius:2%;
    box-shadow: inset 3px 3px 0 #fff, inset -3px -3px 0 #fff;
      display:block;
      border:1px solid black;
  }

  /* .hearts-10{
    background-image:url('./images/HEART-10.svg');
  } */
  .card {
    box-shadow: inset 2px 2px 0 #fff, inset -2px -2px 0 #fff;
    transform-style: preserve-3d;
      position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    backface-visibility: hidden;
      background-color:#fcfcfc;
      border-radius:2%;
      display:block;
      width:100%;
      height:100%;
      border:1px solid black;
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
  }